<li>
	{{#unless devoured}}
	<button class="devour btn" data-id="{{id}}" data-devour="{{devoured}}" title="Mark as DEVOURED"><i class="fas fa-hamburger"></i></button>
	{{/unless}}
	{{burgerName}}
	<button class="delete-burger btn btn-danger" data-id="{{id}}" style="float: right;"><i class="fas fa-trash"></i></button>
</li>
